body {
  background-color: #8186a8;
  font-family: arial;
  color: #ffffff;
  text-align: center;
}
a {color: #171f3a;}
dd { margin-left: 0; }
dt { font-weight: bold; font-style: italic; margin-top: 16px; }
